
html
    scroll-behavior: smooth
    @include media-breakpoint-up(sm)
        font-size: Min(Max(1vw, 13px), 16px)

    &.is-animating
        *
            transition: color $color-duration ease, background $color-duration ease // Fix weird various animation duration

.rich-text
    a[target="_blank"]:not(.icon)
        @include icon(external-link-line, after)
            content: "↗" // TODO replace with icomoon font
            font-family: $heading-font-family
            display: inline
            vertical-align: middle
            opacity: 0.75
            font-size: Max(10px, 0.4em)
        &:hover
            &::after
                // vertical-align: super
                opacity: 1

// Link animation
// Not used from now but interesting
// @keyframes nav-hover-in
//     0%
//         left: 0
//         right: auto
//         width: 0%
//     99%
//         left: 0
//         right: auto
//     100%
//         right: 0
//         left: auto
//         width: 100%

// @keyframes nav-hover-out
//     0%
//         right: 0
//         left: auto
//         width: 100%
//     99%
//         left: auto
//         right: 0
//     100%
//         left: 0
//         right: auto
//         width: 0%
