
html
    scroll-behavior: smooth
    @include media-breakpoint-up(sm)
        font-size: Min(Max(1vw, 13px), 16px)

    &.is-animating
        *
            transition: color $color-duration ease, background $color-duration ease // Fix weird various animation duration