// colors
$color-background-alt: #F2F2F2
$color-border: rgba(0,0,0,0.1)
$color-title-alt: #767676
$color-disabled: #8F8E8E

// typography
// $body-size-desktop: pxToRem(25)
// $body-line-height-desktop: pxToRem(45)
// $h3-size-desktop: pxToRem(38)
// $h3-line-height-desktop: pxToRem(50)
// $h3-font-family: var(--body-font-family)
// $h4-size-desktop: pxToRem(26)
// $h4-line-height: pxToRem(45)
// $h5-text-transform: normal
// $small-size: pxToRem(16)

$lead-size-desktop: pxToRem(38)
$lead-line-height-desktop: pxToRem(50)

$letter-size-desktop: pxToRem(128)
$letter-line-height-desktop: pxToRem(94)

// blocks
$block-chapter-layout-alt-background: transparent
$block-chapter-layout-alt-color: inherit
$block-chapter-layout-accent-background: transparent
$block-chapter-layout-accent-color: inherit
$block-testimonials-style: italic
$quote-style: italic

// New variables
$project-navigation-title: pxToRem(45)
$project-navigation-text: pxToRem(26)

$summary-size: pxToRem(36)
$summary-line-height: 130%

$post-title-size: pxToRem(75)
$post-title-line-height: 100%
$post-date-size: pxToRem(46)
$post-date-line-height: 120%

$heading-margin-top-desktop: pxToRem(160)
$heading-margin-bottom-desktop: pxToRem(60)

// icons
$icons-site: ()
$icons-site: map-merge($icons-site, ("rounded-arrow": "\e901"))