// colors
$color-background-alt: #F2F2F2
$color-border: rgba(0,0,0,0.1)

// typography
$body-size-desktop: pxToRem(25)
$body-line-height-desktop: pxToRem(45)

$h3-size-desktop: pxToRem(25)
$h3-line-height-desktop: pxToRem(38)

$h5-size: pxToRem(28)
$h5-line-height: pxToRem(39)
$h5-text-transform: normal

// blocks
$block-testimonials-style: italic
$quote-style: italic

$block-call-to-action-button-background: none
$block-call-to-action-button-border: 0
$block-call-to-action-button-color: var(--color-text)
$block-call-to-action-button-hover-background: none
$block-call-to-action-button-hover-border: 0
$block-call-to-action-button-hover-color: inherit
