
.block-call_to_action
    .actions
        a[target="_blank"]:not(.icon)
            @include icon(arrow-right-line, after, true)
            @include hover-translate-icon
            &::after
                margin-left: space()

    &.block-class-image-as-background
        position: relative
        .call_to_action
            padding-bottom: 0
            padding-top: 0
            > div
                position: relative
                z-index: 2
                .block-title
                    @include h2
                .description p
                    @include body-text
                .actions a
                    @include small
                    --btn-padding: #{$spacing-2} #{pxToRem(30)}
            figure
                bottom: 0
                left: 0
                position: absolute
                top: 0
                right: 0
                margin-bottom: 0
                img, picture
                    height: 100%
                    width: 100%
                img
                    object-fit: cover

        &:not(.block-class-no-overlay)
            figure::after
                background: rgba(0,0,0,0.5)
                bottom: 0
                content: ''
                left: 0
                pointer-events: none
                position: absolute
                right: 0
                top: 0

        html.has-menu-opened &
            .call_to_action
                color: var(--color-text) !important

        &.block-class-large
            .block-content
                position: relative
                @include media-breakpoint-up(desktop)
                    padding-top: space(203)
                    padding-bottom: space(15)

        @include in-page-without-sidebar
            background-color: transparent
            &:not(.block-class-large)
                .block-content
                    padding-left: 0
                    padding-right: 0
            .block-content
                margin: 0
                overflow: hidden
            .call_to_action
                > div
                    align-items: flex-end
                    display: flex
                    gap: var(--grid-gutter)
                    grid-column: 1 / 13 
                    justify-content: space-between
                    position: relative
                    z-index: 2
                .actions
                    a:first-child
                        margin-right: 0
                        margin-top: 0

        @include media-breakpoint-down(desktop)
            margin-left: var(--grid-gutter)
            margin-right: var(--grid-gutter)
            .container
                padding-left: 0
                padding-right: 0
                .block-content
                    padding: space(50) var(--grid-gutter) var(--grid-gutter)
                .actions
                    margin-top: $spacing-1

@media (prefers-color-scheme: dark)
    .block-call_to_action.block-class-image-as-background
        .call_to_action
            color: var(--color-text)
            .actions
                a:first-child
                    --btn-color: var(--color-background)
                    --btn-background: var(--color-text)
                    --btn-border: var(--border-width) solid var(--color-text)