.block-chapter
    body:not(.projects__page) &
        &--alt_background
            .block-content
                @include lead
                .chapter
                    display: block

            .block-title
                @include small

            @include media-breakpoint-up(desktop)
                .text
                    @include flex-text
                    width: columns(12) !important
                    .notes
                        @include body-text
                        width: columns(8)

            @include media-breakpoint-down(desktop)
                .top
                    margin-bottom: $spacing-3

    &--accent_background
        .block-content
            .text
                @include lead
            .block-title
                @include small
            a
                @include link

            @include in-page-without-sidebar
                .text
                    @include flex-text

        @include media-breakpoint-down(desktop)
            .top
                margin-bottom: $spacing-3

    // Notes
    .chapter
        .note
            &__call
                background: none
                display: inline
                font-size: pxToRem(12)
                line-height: var(--meta-line-height)
                padding: 0
                pointer-events: none
                vertical-align: super
                &:hover
                    color: inherit
            &__content
                display: flex
                gap: 0.2em
                .note__index
                    min-width: 0.8em
                &, a
                    color: var(--color-text)
            &--active
                .note__call
                    color: inherit

        @include media-breakpoint-up(desktop)
            position: relative
            .note
                position: static
                &__content
                    background: none
                    right: 0
                    left: auto
                    padding-bottom: 0
                    padding-left: 0
                    padding-right: 0
                    padding-top: 0.4em
                    width: columns(2)

        @include media-breakpoint-down(desktop)
            .note
                &__content
                    background: var(--color-background-alt)
                    border-radius: 4px
                    bottom: var(--grid-gutter)
                    left: var(--grid-gutter)
                    right: var(--grid-gutter)
                    width: auto
                    padding: $spacing-1
                    position: fixed
                    text-align: center
                    transform: translateY(calc(100% + var(--grid-gutter)))
                    transition: transform 0.25s cubic-bezier(0.45, 0, 0.55, 1)
                    &.is-visible
                        transform: translateY(0%)

        body.posts__page &
            @include media-breakpoint-up(desktop)
                .note__content
                    width: columns(3)

// cas des notes dans les blocs encapsulés dans un titre
.collapse .block-chapter
    @include media-breakpoint-up(desktop)
        margin-top: space(24) !important
        .note__content
            width: columns(3)