@mixin flex-text
    align-items: baseline
    display: flex
    gap: var(--grid-gutter)
    width: 100%
    .top
        width: columns(2)
    .rich-text
        flex: 1
    
.blocks
    counter-reset: note
    counter-reset: expertise

.block-chapter
    @include in-page-without-sidebar
        .chapter
            .text
                width: columns(8)

    body:not(.projects__page) &
        &--alt_background
            .block-content
                @include h3
                .chapter
                    display: block

            .block-title
                @include small

            @include media-breakpoint-up(desktop)
                .text
                    display: flex
                    align-items: baseline
                    gap: var(--grid-gutter)
                    width: columns(12) !important
                    .top
                        width: columns(2)
                    .rich-text
                        flex: 1

    &--no_background
        .block-content
            padding-left: offset(2)

    &--accent_background
        .block-content
            @include h2
            .block-title
                @include small
            a
                @include  link

            @include in-page-without-sidebar
                .text
                    @include flex-text
    
    .block-class-expertise &
        .container
            padding: 0

        .top
            &::before
                content: counters(expertise, ".") ". "
                counter-increment: expertise
                font-size: space(32)
                line-height: 1
            h2
                @include sr-only

        @include in-page-without-sidebar
            .text
                @include flex-text
                .top
                    align-self: flex-start
                .rich-text
                    @include h3

    // Notes
    .chapter
        .note
            &__call
                background: none
                display: inline
                font-size: pxToRem(12)
                line-height: var(--meta-line-height)
                padding: 0
                pointer-events: none
                vertical-align: super
                &:hover
                    color: inherit
            &__content
                display: block
                &::before
                    content: counters(note, ".") ". "
                    counter-increment: note
                &, a
                    color: var(--color-text)
            &--active
                .note__call
                    color: inherit

        @include media-breakpoint-up(desktop)
            position: relative
            .note
                position: static
                &__content
                    background: none
                    right: 0
                    left: auto
                    padding: 0
                    padding-top: 0.4em
                    width: columns(2)

        @include media-breakpoint-down(desktop)
            .note
                &__content
                    background: var(--color-background-alt)
                    border-radius: 4px
                    bottom: var(--grid-gutter)
                    left: var(--grid-gutter)
                    right: var(--grid-gutter)
                    width: auto
                    padding: $spacing-1
                    position: fixed
                    text-align: center
                    transform: translateY(calc(100% + var(--grid-gutter)))
                    transition: transform 0.25s cubic-bezier(0.45, 0, 0.55, 1)
                    &.is-visible
                        transform: translateY(0%)