.block-features
    .features
        .feature
            .name
                @include body-text
                font-style: italic

    &.block-class-manifesto
        .features
            .feature
                .feature-description
                    margin-top: 0

        @include media-breakpoint-up(desktop)
            .features
                grid-template-columns: repeat(2, 1fr) !important
                row-gap: pxToRem(100) !important