.block-features
    &.block-class-manifesto
        .feature
            .name,
            .feature-description
                @include lead
                p
                    margin: 0
            .name
                color: var(--color-text-alt)

        @include media-breakpoint-up(desktop)
            padding-top: pxToRem(15)
            .features
                grid-template-columns: repeat(1, 1fr) !important
                row-gap: $spacing-5 !important
                padding-left: offset(4)
