.block-organizations-alphabet
    .alphabet-list
        > li
            + li
                margin-top: pxToRem(100)
            > p
                @include small
                .letter
                    @include h1
                    font-size: pxToRem(80)
                    margin-right: $spacing-1
            .organization
                // TODO : cleanup with typo system
                font-family: $body-font-family
                padding: $spacing-2 0
                border-bottom: var(--border-width) solid var(--color-text)

    @include media-breakpoint-up(md)
        .alphabet-list
            > li
                > p
                    display: flex
                    gap: var(--grid-gutter)
                    width: columns(2)
                    position: sticky
                    top: pxToRem(100)
                    // Alignement vertical strict avec arrondis hors colonnes
                    margin-left: pxToRem(-10)
                    .letter
                        font-size: pxToRem(128)
                        width: columns(1)
                > ol
                    padding-left: offset(2)
                    margin-top: pxToRem(-95)
                .organization
                    // TODO : cleanup with typo system
                    font-size: pxToRem(38)
                    line-height: pxToRem(45)
                    font-family: $body-font-family
                    &:first-child
                        padding-top: 0