.block-pages
    &.block-class-with-numbers
        .pages
            counter-reset: item
            .page
                .page-title
                    &::before
                        @include h1
                        display: block
                        content: counters(item, ".") ". "
                        counter-increment: item
                        line-height: 1
                        margin-bottom: $spacing-2

            @include media-breakpoint-down(desktop)
                .page-title
                    a
                        margin-top: space(2)

    .pages--grid
        .page-title
            @include h4

        @include media-breakpoint-down(desktop)
            > li + li
                margin-top: $spacing-3
            // .page
            //     margin-left: offset(2)
            .page-title
                font-size: pxToRem(22)
                a::before
                    position: absolute
                    left: offset(-2)
                    top: pxToRem(15)

        @include media-breakpoint-up(desktop)
            .page-title + .page-description
                @include small
                margin-top: space(4)

    &.block-class-expertises-navigation
        .pages
            @include in-page-without-sidebar
                .page
                    @include icon(arrow-right-line, after)
                    @include hover-translate-icon
                    height: 100%
                    text-align: center
                    &-title
                        @include h3
                        a::after
                            content: none !important
                    &-description
                        margin-bottom: space(6)
                        flex: 1

                @include media-breakpoint-up(xl)
                    @include grid(4)