.block-pages
    &.block-class-with-numbers
        .pages
            counter-reset: item
            .page
                .page-title
                    &::before
                        @include h1
                        display: block
                        content: counters(item, ".") ". "
                        counter-increment: item
                        line-height: 1
                        margin-bottom: $spacing-2

            @include media-breakpoint-down(desktop)
                .page-title
                    a
                        margin-top: space(2)

    .pages--grid
        .page-title
            @include body-text
            a
                display: flex
                align-items: center
                text-decoration: underline
                text-decoration-thickness: 0.5px
                &::after
                    overflow: hidden
                    margin-left: $spacing-1

        @include media-breakpoint-down(desktop)
            > li + li
                margin-top: $spacing-3
            .page
                margin-left: offset(2)
            .page-title
                font-size: pxToRem(22)
                a::before
                    position: absolute
                    left: offset(-2)
                    top: pxToRem(15)

        @include media-breakpoint-up(desktop)
            .page-title + .page-description
                @include small
                margin-top: space(4)