.block-pages
    &.block-class-with-numbers
        .pages
            counter-reset: item
            .page
                .page-title
                    &::before
                        @include h1
                        display: block
                        content: counters(item, ".") ". "
                        counter-increment: item
                        line-height: 1