.publications
    .publication
        &-title
            @include h4
        &-meta,
        &-authors
            color: var(--color-text)
        &-authors
            font-style: italic
        
        &:not(:last-child)
            border-color: var(--color-text)

    @include in-page-without-sidebar
        margin-left: offset(2)
        margin-right: offset(2)

        .publication
            align-items: baseline
            display: flex
            &::after
                content: none
            &-content
                width: columns(5)
            &-authors
                flex: 1
                text-align: right

.publications-link
    a
        @include icon(arrow-right-line, after)
        @include hover-translate-icon
        @include small
        &::after
            margin-left: space()

    @include in-page-without-sidebar
        position: relative
        margin-top: calc(-1 * var(--heading-margin-bottom) - 6px)
        a
            position: absolute
            right: calc(#{offset(2)} + var(--grid-gutter))
            text-decoration: none
            transform: translateY(-100%)