.block.block-title
    &.block-class-reset
        display: none
        + .block
            margin-top: var(--heading-margin-top)

    &--collapsed
        align-items: center
        transition: color $color-duration ease
        &:hover
            color: $color-title-alt
        &[aria-expanded="false"]::after
            border-bottom-color: var(--color-text) !important
        &::before
            font-size: pxToRem(40)

        @include media-breakpoint-up(desktop)
            margin-bottom: space(4)
            &::before
                font-size: pxToRem(61)
            &[aria-expanded="false"]::after
                margin-top: space(4)

        @include media-breakpoint-down(desktop)
            + .collapse
                margin-top: space(8)
                .chapter
                    .top
                        margin-bottom: space(5)

.block
    &.block-class-small-title
        .block-title
            @include small

    &.block-class-centered
        @include in-page-without-sidebar
            h2
                max-width: 100%
                text-align: center
            &:not(.block-class-alt-background)
                + .block
                    margin-top: space(20)

    &.block-class-left-title
        @include media-breakpoint-up(desktop)
            h2
                position: absolute
                width: columns(4)

    &.block-class-sr-only
        @include sr-only