.block.block-title
    &.block-class-reset
        display: none
        + .block
            margin-top: var(--heading-margin-top)

    &--collapsed
        align-items: center
        &[aria-expanded="false"]::after
            border-bottom-color: var(--color-text) !important
        &::before
            font-size: pxToRem(40)

        @include media-breakpoint-up(desktop)
            &::before
                font-size: pxToRem(61)

.block
    &.block-class-small-title
        .block-title
            @include small

    &.block-class-centered
        @include in-page-without-sidebar
            h2
                max-width: 100%
                text-align: center
            + .block
                margin-top: space(20)