.page__home
    .hero
        .content
            .hero-text
                p
                    font-style: italic
    @include media-breakpoint-down(desktop)
        .hero
            .content
                display: flex
                flex-direction: column
                margin-top: var(--grid-gutter)
                .hero-text
                    margin-top: var(--grid-gutter)
                .hero-image
                    order: -1
                    margin-bottom: 0
                    width: 50%
                    margin-left: auto
    @include media-breakpoint-up(desktop)
        .hero
            .content
                padding-top: 0
                .hero-text
                    padding-top: pxToRem(100)
                    width: columns(7)
                    p
                        @include body-text
                        font-size: pxToRem(25)
                        line-height: pxToRem(38)
                        margin-top: $spacing-3
                .hero-image
                    width: columns(3)
                    margin-right: offset(1)