.pages__section
    .hero
        hgroup.has-lead
            > p
                @include h3
                font-family: $body-font-family
                font-style: italic
    
.pages--grid
    @include in-page-without-sidebar
        grid-template-columns: repeat(2, 1fr)