
// New variables
$project-navigation-title: pxToRem(45)
$project-navigation-text: pxToRem(26)

$post-title-size: pxToRem(75)
$post-title-line-height: 100%
$post-date-size: pxToRem(46)
$post-date-line-height: 120%

// ANIMATIONS
@keyframes nav-hover-in
    0%
        left: 0
        right: auto
        width: 0%
    99%
        left: 0
        right: auto
    100%
        right: 0
        left: auto
        width: 100%

@keyframes nav-hover-out
    0%
        right: 0
        left: auto
        width: 100%
    99%
        left: auto
        right: 0
    100%
        left: 0
        right: auto
        width: 0%

body.projects__page
    // HEADER
    header#document-header 
        a.logo
            transition: color .3s ease, opacity .35s
            img 
                transition: filter .3s ease
            &.revert
                color: white
                img
                    filter: invert(1)

    // HERO
    .hero
        align-items: flex-end
        color: var(--color-background)
        display: flex
        height: 75vh
        margin-bottom: 0
        overflow: hidden
        padding-top: 0
        position: relative
        .content
            figure
                filter: brightness(70%)
                height: 100%
                object-fit: cover
                left: 0
                margin-left: 0
                margin-right: 0
                position: absolute
                top: 0
                width: 100%
                z-index: 1
                picture,
                img
                    height: 100%
                img
                    object-fit: cover
                figcaption
                    @include sr-only

            .hero-text
                margin: $spacing-5 0
                position: relative
                width: 100%
                z-index: 2
                .projects-meta
                    justify-content: flex-end
                    margin-top: 0

        @include media-breakpoint-up(desktop)
            padding-bottom: $spacing-4
            .hero-text
                align-items: baseline
                flex-direction: row
                justify-content: space-between
                h1
                    font-size: $post-title-size
                    line-height: $post-title-line-height
                    width: columns(9)
                .projects-meta
                    justify-content: flex-end
                    .year
                        font-size: $post-date-size
                        line-height: $post-date-line-height
        
        @include media-breakpoint-down(desktop)
            .hero-text
                gap: $spacing-2
                .projects-meta
                    .year
                        @include body-text

    // SUMMARY
    .block.block-summary
        padding-top: 0
        padding-bottom: 0
        .lead
            p
                @include h3
        .hero-block-organization
            .container
                padding: 0
            .block-title
                text-align: left
            .organization
                .media
                    padding: 0
                    picture
                        aspect-ratio: unset

        @include media-breakpoint-up(desktop)
            .block-content
                align-items: baseline
                display: flex
                justify-content: space-between
                gap: var(--grid-gutter)
            .lead
                width: columns(8)
            .hero-block-organization
                width: columns(4)
                .container,
                .block
                    margin: 0
                    padding: 0
                .container
                    width: 100%
                .organizations
                    @include grid(1)
                .organization
                    width: offset(1)
                
        @include media-breakpoint-down(desktop)
            .hero-block-organization
                .organization
                    .media
                        img
                            max-width: space(25)

    // BLOCKS
    // titles
    .block
        .top
            margin-bottom: $spacing-6
    .block:not(.block-chapter--no_background) // no_bg chapter has h2 style
        .block-title
            @include h5
            font-family: $body-font-family
            font-style: italic
            text-transform: initial

    .block-organizations,
    .block-persons
        .block-title
            text-align: center

    // features
    .block-features
        @include media-breakpoint-between(sm, desktop)
            ul li
                max-width: columns(9)
    
    @include media-breakpoint-up(desktop)
        .block
            padding-top: space(26)
            padding-bottom: space(26)
        .block-call_to_action
            --block-space-y: #{space(29)}

    // gallery & image
    .block-image,
    .block-gallery
        figcaption
            @include sr-only

        @include media-breakpoint-up(desktop)
            figure
                background: $color-background-alt
                picture
                    margin: 0
                    width: 100%
                    img
                        margin: auto

    // image
    .block-image 
        @include media-breakpoint-up(desktop)
            figure
                picture
                    padding-bottom: space(35)
                    padding-top: space(35)
                img
                    width: columns(8)

    // gallery
    .block-gallery
        .gallery
            figure.cover
                div,
                picture,
                img
                    height: 100%
                    width: 100%
        @include media-breakpoint-up(desktop)
            .gallery
                @include grid(2)
                figure
                    padding: columns(2)
                    &.cover
                        position: relative
                        figcaption
                            display: none
                        picture
                            left: 0
                            position: absolute
                            top: 0
                            img
                                object-fit: cover

    .block-gallery + .block-image,
    .block-image + .block-gallery
        margin-top: 0
        padding-top: 0
        @include media-breakpoint-down(desktop)
            margin-top: -$spacing-5
        @include media-breakpoint-up(desktop)
            margin-top: calc(-1 * (var(--block-space-y) + #{space(13)}))

    // organizations
    .block-organizations
        .media
            background: none
        .organizations
            .organization
                width: columns(6)
                .organization-content
                    @extend .sr-only

            @include media-breakpoint-up(desktop)
                .organization
                    width: columns(2)

        &:not(.block-class-organisation) // exlude hero organization block
            .organizations
                display: flex
                column-gap: var(--grid-gutter)
                flex-wrap: wrap
                justify-content: center
                row-gap: half(var(--grid-gutter))

    // chapter
    .block-chapter
        &--no_background 
            .block-title
                @include h2

            @include media-breakpoint-up(desktop)
                .chapter
                    .text
                        align-items: baseline
                        display: flex
                        gap: var(--grid-gutter)
                        width: 100%
                        .top
                            width: columns(5)
                        .rich-text
                            flex: 1

        &.block-chapter--alt_background 
        &.block-chapter--alt_background 
            background: none
            @include media-breakpoint-up(desktop)
                .text
                    text-align: center
                    &,
                    .top, 
                    .rich-text
                        width: 100%
                    .top
                        margin-bottom: $spacing-6
                    p + p 
                        margin-top: $spacing-2

    // call to action (landscape image as background)
    .block-call_to_action
        overflow: hidden
        position: relative
        figcaption
            display: none // credits are above
        .call_to_action
            .actions 
                align-items: center
                display: flex
                justify-content: center
                gap: var(--grid-gutter)
                position: relative
                z-index: 2
                a
                    @include hover-translate-icon
                    @include icon(arrow-right-line, after)
                    --btn-font-family: #{$body-font-family}
                    --btn-font-size: #{pxToRem(25)}
                    --btn-hover-background: var(--color-accent)
                    --btn-hover-border: 1px solid var(--color-accent)
                    --btn-padding: #{space(4)} #{space(10)}
                    align-items: center
                    display: flex
                    gap: $spacing-2
                    margin: 0
                    &:focus-visible
                        outline-color: var(--btn-hover-background)
                    &::after
                        font-size: var(--body-size)
                        line-height: var(--body-line-height)
            
        .call_to_action--with-image
            display: flex
            justify-content: center
            padding-bottom: 0
            padding-top: 0
            figure
                bottom: 0
                left: 0
                position: absolute
                top: 0
                right: 0
                margin-bottom: 0

        @include media-breakpoint-down(desktop)
            padding-top: $spacing-5
            padding-bottom: $spacing-5
            picture, img
                height: 100%
            img
                object-fit: cover

        @include media-breakpoint-up(desktop)
            padding: 0
            .block-content
                padding-top: space(37)
                padding-bottom: space(37)
    
    // testimonials
    .block-testimonials
        &--carousel,
        &--large
            blockquote
                font-style: italic
            figcaption
                .signature,
                .meta
                    @include signature
                .meta
                    color: var(--color-text-alt)

            @include media-breakpoint-up(desktop)
                figure
                    margin: 0 auto
                    width: columns(8)
                blockquote
                    text-align: center
                figcaption
                    margin: $spacing-4 auto 0
                    width: fit-content !important
                    p
                        width: columns(4)

    // persons
    .block-persons--grid
        @include media-breakpoint-up(desktop)
            .persons
                @include grid(3)
            .person
                align-items: center
                flex-direction: row
                gap: space(8)
                text-align: left
                .avatar
                    width: offset(1)

    // nav
    .projects-navigation
        align-items: center
        display: flex
        font-size: $project-navigation-text
        justify-content: center
        min-height: 100vh
        text-align: center
        a
            align-items: center
            text-decoration: none
        a,
        .navigation
            display: flex
            flex-direction: column
        .navigation
            font-style: italic
            position: relative
            &::after
                -webkit-animation: nav-hover-out 1s forwards
                animation: nav-hover-out 1s forwards
                background: black
                bottom: -4px
                content: ""
                height: 1px
                left: auto
                position: absolute
                right: 0
                transform: width .3s ease
                width: 0%
                    
        h3
            @include h1
            margin: $spacing-5 0 $spacing-2
            + span
                color: $color-text-alt

        a:hover .navigation::after
            -webkit-animation: nav-hover-in 1s forwards
            animation: nav-hover-in 1s forwards

        @include media-breakpoint-up(desktop)
            h3
                font-size: $project-navigation-title