.organizations--list
    ul
        counter-reset: count 0
    li
        counter-increment: count 1
        display: flex
        align-items: baseline
        justify-content: space-between
        &::after
            @include small
            color: var(--color-text-alt)
            content: counter(count)
