.page__home
    --body-size: #{pxToRem(22)}
    --body-line-height: #{pxToRem(36)}

    .hero
        .content
            .hero-text
                p
                    font-size: pxToRem(22)
                    font-style: italic
                    line-height: pxToRem(37)
                    margin-bottom: pxToRem(60)

    @include media-breakpoint-down(desktop)
        .hero
            .content
                display: flex
                flex-direction: column
                margin-top: var(--grid-gutter)
                .hero-text
                    margin-top: var(--grid-gutter)
                .hero-image
                    order: -1
                    margin-bottom: 0
                    width: 50%
                    margin-left: auto

    @include media-breakpoint-up(desktop)
        .hero
            .content
                .hero-text
                    &, h1
                        width: columns(7)
                    p
                        @include body-text
                        font-size: pxToRem(25)
                        line-height: pxToRem(38)
                        margin-top: $spacing-3
                .hero-image
                    margin-top: calc(-1 * #{$spacing-5})
                    margin-right: offset(1)
                    width: columns(3)
    
    &,
    &.full-width
        .pages--grid
            .page-title
                @include body-text
                // &::after
                //     @include icon-site("rounded-arrow")
            .page-description
                @include small

            // article:not(:has(.more)) [class$="-title"]

            @include media-breakpoint-up(desktop)
                .page-title
                    &::before
                        margin-bottom: $spacing-2
                    + .page-description
                        margin-top: space(4)

            @include media-breakpoint-up(xxl)
                @include grid(4)