{{/*  TODO: je ne comprends pas pourquoi il y a un override ici ?  */}}

{{ $logo_dark := "logo_on_dark_background" }}

{{- if .Params.logo -}}
{{ $logo_index := "logo" }}
  <figure class="organization-logo">
    {{- partial "commons/image.html"
            (dict
              "image"    (index .Params $logo_index)
              "alt"      .Title
              "sizes"    site.Params.image_sizes.sections.organizations.logo
            ) -}}
    {{- if (index .Params $logo_dark) -}}
      {{- partial "commons/image.html"
      (dict
        "image"    (index .Params $logo_dark)
        "alt"      .Title
        "sizes"    site.Params.image_sizes.sections.organizations.logo
      ) -}}
    {{- end -}}
  </figure>
{{- end -}}
