.pages__section
    .hero
        hgroup.has-lead
            > p
                @include h1
                margin-top: 0

    &.full-width
        // call to action
        .block-call_to_action--no_background
            .block-content
                padding-top: 0
                padding-bottom: 0
            .call_to_action
                figure
                    img
                        border-radius: 100%
                    figcaption
                        display: none
            
            .call_to_action--with-image
                .actions
                    margin-top: 0
                    a
                        @include link
                        --btn-min-width: unset
                        --btn-padding: 0
                        --btn-background: none
                        --btn-border: none
                        --btn-color: var(--color-text)
                        --btn-hover-background: var(--color-background)
                        --btn-hover-border: none
                        --btn-hover-color: inherit
                        margin: 0
                        text-decoration-color: inherit
                        &::after
                                display: inline-block
                                overflow: hidden
                .description p,
                .actions a
                    @include body-text
                figure
                    order: -1
                    width: columns(6)

            @include media-breakpoint-down(desktop)
                .call_to_action--with-image
                    figure
                        margin-bottom: $spacing-1

            @include media-breakpoint-up(desktop)
                .call_to_action
                    margin-left: offset(2)
                    margin-right: offset(2)

                    &--with-image
                        align-items: center
                        display: flex
                        gap: calc(var(--column-width) / 2)
                        figure
                            width: calc(#{offset(1)} + (var(--column-width) / 2))


.ancestor-expertise
    .block-chapter
        &--no_background
            .block-content
                padding-left: offset(2)

        @include in-page-without-sidebar
            .chapter
                .text
                    width: columns(8)

.page-expertise,
.ancestor-expertise
    .block-title--classic
        h2
            padding-left: offset(2)

    .block-chapter
        &--alt_background
            .block-content
                @include h3
                .chapter
                    display: block

            .block-title
                @include small

            @include media-breakpoint-up(desktop)
                .text
                    display: flex
                    align-items: baseline
                    gap: var(--grid-gutter)
                    width: columns(12) !important
                    .top
                        width: columns(2)
                    .rich-text
                        flex: 1