{{ if eq .block.data.code "[publications]" }}
  {{ partial "custom/blocks/publications.html" (dict 
    "block" .block
    "context" .context
    "html_id" .html_id
  ) }}
{{ else if and (eq .block.template "organizations") (eq .block.html_class "block-class-alphabet") }}
  {{ partial "custom/blocks/organizations-alphabet.html" (dict
    "block" .block
    "context" .context
    "html_id" .html_id
  ) }}
{{ else }}
  {{ $template := printf "blocks/templates/%s.html" .block.template }}
  {{ if templates.Exists ( printf "_partials/%s" $template ) }}
    {{ partial $template (dict
      "block" .block
      "context" .context
      "html_id" .html_id
    ) }}
  {{ end }}
{{ end }}
