{{ partial "pages/single/hero.html" . }}
{{ partial "pages/single/pagefind.html" . }}

<div class="document-content">
  {{ partial "pages/single/sidebar.html" . }}

  {{ partial "pages/single/summary.html" (dict
    "context" .
    "block_wrapped" true
  ) }}

  {{ if .Params.contents }}
    {{ partial "contents/list.html" (dict
      "context" .
      "contents" .Params.contents
    ) }}
  {{ else }}
    {{ partial "pages/partials/children.html" . }}
  {{ end }}  
  {{ if eq .Params.bodyclass "ancestor-expertise" }}
    {{ partial "pages/single/navigation.html" . }}
  {{ end }}
</div>