.posts__page
    // HERO
    .hero
        @include hero-with-alt-image

    // BLOCKS
    &,
    &.full-width
        // chapter
        .block-chapter
            margin-top: space(50)
            .chapter
                .text

                @include media-breakpoint-up(desktop)
                    .text
                        align-items: baseline
                        display: flex
                        gap: var(--grid-gutter)
                        margin-right: offset(1)
                        width: 100%
                        .block-title
                            @include h2
                            width: columns(4)
                        .rich-text
                            margin-left: auto
                            width: columns(7)

        // testimonials
        .block-testimonials
            .block-content
                padding-left: offset(4)
                padding-right: offset(1)
                blockquote
                    text-align: center
            + .block-chapter
                margin-top: var(--block-space-y)