body.persons__page
    main
        padding-bottom: 0

    // HERO
    .hero
        @include hero-with-large-image
        .content
            align-items: stretch
        hgroup.has-lead
            p
                @include h1
                color: var(--color-text-alt)
                margin-top: 0
        figure
            picture
                border-radius: 0

        @include media-breakpoint-down(desktop)
            &.hero--with-image
                figure
                    width: 100%